
@{
    ViewBag.Title = "requiredPostIndexWithLogin";
}

<head>
    <link href="~/Content/resource_nico/requriedIndex.css" rel="stylesheet" />
    <link href="~/Content/resource_nico/createProductPost.css" rel="stylesheet" />
    <script src="~/Content/resource_nico/tw-city-selector.min.js"></script>
</head>

<div class="container" style=" padding-top: 100px">

    <div class="container" style=" padding-bottom: 40px; border-radius: 20px; ">
        <div class="row">
            <ul class="nav nav-pills mb-3 requriedTab w-100" style="justify-content:space-between" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#allPost" role="tab"
                       aria-controls="pills-home" aria-selected="true">我的所有徵求貼文</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pocessPostStart" role="tab"
                       aria-controls="pills-profile" aria-selected="false">處理中的貼文</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pastPost" role="tab"
                       aria-controls="pills-contact" aria-selected="false">過去的貼文</a>
                </li>



                <li>
                    <a class="btn  btn-secondary" style="color:white;" data-toggle='modal' data-target='#bulid'> 我要徵求</a>
                </li>
            </ul>

        </div>

        <div class="modal fade" id="bulid" tabindex="-1" role="dialog" aria-labelledby="editMemberTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editMemberTitle"> 徵求貼文</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="editMemberbody">
                        <form id="form1" class="formFrame mx-auto" enctype="multipart/form-data">
                            <div class="displayImg">
                                <div class="photo"><img id="Productimg"></div>
                                <input type="file" required name="upphoto" id="postImg" style="display: block;" onchange="previewFile()">
                            </div>
                            <div class="displayInput">
                                <h6>貼文名稱:<input type="text" required name="postName" id="postName"></h6>
                                <h6>
                                    貼文描述:<textarea id="postDescription" name="postDescription" placeholder="使用程度、幾成新" class="w-75" required onclick="tag()"></textarea>
                                </h6>


                                <div>
                                    <h6>交貨方式</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="transationType" id="flexRadioDefault1" value="express" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            物流交貨
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="transationType" id="flexRadioDefault2" value="pTop">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            當面交貨/地點
                                        </label>
                                    </div>
                                    <div class="my-selector-b" disabled></div>
                                </div>


                                <h6>價格:<input type="text" required name="estimatePrice" id="estimatePrice"></h6>
                                <h6>數量:<input type="text" required name="require0dQTY" id="requiredQTY"></h6>
                                <h6>
                                    標籤:
                                    <select id="tagSelectioninPost" required class="form-control" name="TagID">
                                        <option>Choose...</option>
                                    </select>
                                </h6>
                                @*====userID======
                                ====posttime====*@

                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="sendRequiredPost()">新增貼文</button>
                    </div>
                </div>
            </div>
        </div>

        @*===============================EDIT POST START==========================================*@


        <div class="modal fade" id="model-editPost" tabindex="-1" role="dialog" aria-labelledby="model-editPost"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="model-editPost"> 編輯貼文</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="editPOST">
                     

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">刪除</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="sendRequiredPost()">儲存貼文</button>
                    </div>
                </div>
            </div>
        </div>


        @*===============================EDIT POST END==========================================*@

        <div class="showPostArea tab-content " id="pills-tabContent">

            <div class="tab-pane fade show active" id="allPost" role="tabpanel" aria-labelledby="pills-home-tab">

            </div>
            @*=============================================tab 2=========================================================*@
            <div class="tab-pane fade" id="pocessPostStart" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div>

                </div>

            </div>
            @*=============================================tab 3=========================================================*@
            <div class="tab-pane fade" id="pastPost" role="tabpanel" aria-labelledby="pills-contact-tab">

            </div>
        </div>


    </div>


</div>
<script>
    $(function () {

        new TwCitySelector({
            el: ".my-selector-b",
            elCounty: ".county", // 在 el 裡查找 dom
            elDistrict: ".district"
        });



        var test = getCookie('LoginID');


        $.ajax({
            url: "/RequiredPost/allrequiredPostWithLogin",
            type: "GET",
            data: {loginID:test},
            success: function (response) {
                $(response).each(function (i, item) {
                    $("#allPost").append(`
                         <div class="row mx-auto" style="border-bottom: 3px dashed gray;" id="start">
                            <div class="photo">
                                    <img  src="../Content/resource_nico/images/徵求台POST/${item.postImg}" />
                            </div>
                            <div class="post-text">

                            <div class="d-flex justify-content-between">
                                    <h3 id="postName${i}">${item.postName}</h3>
                                    <h6>${item.county} <span>${item.district}</span></h6>
                                </div>
                                    <h6 id="userName${i}">買家:${item.userAccount}</h6>
                            <div>
                                    <h6 id="text${i}">產品敘述:${item.postDescription}</h6>
                            </div>



                            <div class="post-button">
                                    <h6 id="price${i}">大概徵求價位：${item.estimatePrice}</h6>
                                    <a data-toggle="collapse" href="#collapseComment${i}" role="button" aria-expanded="false" aria-controls="collapseExample" name="${item.RequiredPostID}" onclick="checkCommentList(this,'${i}')">查看留言(<span id="cmCount${i}">0</span>)</a>
                                     <a class="btn" onclick="getEditPost(this,${item.RequiredPostID})">編輯</a>
                             </div>
                          </div>

                         <div class="collapse w-100 comment" id="collapseComment${i}">
                               <div class="card card-body w-100 comment">

                                </div>
                        </div>

                         <div class="collapse w-100" id="collapseExample${i}">
                              <div class="card card-body w-100">
                                      <form id="Commentform${i}" class="formFrame mx-auto" enctype="multipart/form-data">
                                                <div class="displayImg">
                                                      <img id="Productimg${i}">
                                                      <input type="file" onChange="doUpload(this,'${i}')" name="productImg" id="productImg${i}" style="display: block;">
                                                 </div>
                                                <div class="displayInput">
                                                        <h6>產品名稱:<input type="text" name="productName" id="productName${i}"></h6>

                                                        <h6>
                                                              產品描述:<textarea id="productDescription${i}" name="productDescription" placeholder="使用程度、幾成新" class="w-75" onclick="tag()"></textarea>
                                                        </h6>

                                    <div>
                                    <h6>交貨方式</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="transationType" id="flexRadioDefault1" value="express"checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            物流交貨
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="transationType" id="flexRadioDefault2"   value="pTop" >
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          當面交貨/地點
                                        </label>
                                    </div>
                                    <div class="my-selector-b" disabled ></div>
                                </div>


                                                        <h6>價格:<input type="text" name="price" id="price${i}"></h6>
                                                        <h6>數量:<input type="text" name="inStoreQTY" id="inStoreQTY${i}"></h6>
                                                        <h6>標籤:
                                                                <select id="tagselection${i}" class="form-control"  name="TagID" >
                                                                              <option >Choose...</option>
                                                                </select>
                                                        </h6>

                                    <!-- createtime 
                                    <input type="hidden" name="createdTime">
                                     userID 
                                    <input type="hidden" name="RequiredPostID" value="${item.RequiredPostID}">
                                     requiredPostID 
                                    <div style="display: flex; justify-content:flex-end;">

                                    </div>
                                </div>

                            </form>
                                        <button type="submit" class="btn btn-secondary" onclick="submitProdouct(this,${i})">建立商品留言</button>
                                </div>
                          </div>-->    end of 訂單
                    </div)
                    `)
                    checkSpan(item.RequiredPostID, i);
                })
            }
        })

        // ajax end
    })//documentReady

        $('input[type=radio]').change(function () {
            if (this.value == 'pTop') {
                $(".county").attr('disabled', false);
                $(".district").attr('disabled', false);
            }
            else {
                $(".county").attr('disabled', true)
                $(".district").attr('disabled', true)
            }
        });

    function previewFile() {
        //var photo = $(eler).val();
        const preview = document.querySelector('#Productimg');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    } //  doUpload end

    function doUpload(elem, index) {

        const preview = document.querySelector(`#Productimg${index}`);
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }



    }

    function checkSpan(id, i) {

        $.ajax({
            url: "/RequiredPost/checkCommentSPan",
            type: "GET",
            data: { 'i': id },
            success: function (response) {
                $(`#cmCount${i}`).html(`${response}`)
            }
        })
    }

    $("#pills-profile-tab").click(function () {

        var text = "";
            $.ajax({
                url: "/RequiredPost/allpoccessPost",
                type: "GET",
                success: function (response) {
                    $(response).each(function (i, item) {

                        text += `

                                      <div class="photo">
                                    <img  src="../Content/resource_nico/images/徵求台POST/${item.postImg}" />
                            </div>
                                        <div class="post-text">
                                    <div class="d-flex justify-content-between">
                                                <h3 id="postName${i}">${item.postName}</h3>
                                                <h6>${item.county}  <span>${item.district}</span></h6>
                                                 </div>
                                        <h6 id="userName${i}">名稱:${item.userAccount}</h6>
                                        <div>
                                        <h6 id="text${i}">產品敘述:${item.postDescription}</h6>
                                        </div>
                                        <div class="post-button">
                                        <h6 id="price${i}">大概徵求價位：${item.estimatePrice}</h6>
                                        <a data-toggle="collapse" href="#collapseComment${i}"
                                           role="button" aria-expanded="false" aria-controls="collapseExample">查看留言(<span id="cmCount${i}">0</span>)</a>

                                    </div>
                                </div>
                                   <div class="collapse" id="collapseComment${i}">
                                    <div class="card card-body">

                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample${i}">
                                    <div class="card card-body">

                                    </div>
                                </div>
                          `;

                        $("#pocessPostStart").html(text);
                    })
                }

            }) // ajax end

        })// proccess tab end

    $("#pills-contact-tab").click(function () {
        var test = getCookie('LoginID');
        var text = "";
        $.ajax({
            url: "/RequiredPost/allpastPost",
            type: "GET",
            data: { loginID: test },
            success: function (response) {
                $(response).each(function (i, item) {
                     text +=`

                         <div class="photo">
                                    <img  src="../Content/resource_nico/images/徵求台POST/${item.postImg}" />
                            </div>
                            <div class="post-text">

                                <div class="d-flex justify-content-between">
                                    <h3 id="postName${i}">${item.postName}</h3>
                                    <h6>${item.county} <span>${item.district}</span></h6>
                                </div>
                            <h6 id="userName${i}">買家:${item.userAccount}</h6>
                            <div>
                            <h6 id="text${i}">產品敘述:${item.postDescription}</h6>
                            </div>
                            <div class="post-button">
                            <h6 id="price${i}">大概徵求價位：${item.estimatePrice}</h6>
                            <a data-toggle="collapse" href="#collapseComment${i}"
                               role="button" aria-expanded="false" aria-controls="collapseExample">查看留言(<span id="cmCount${i}">0</span>)</a>

                        </div>
                    </div>
                       <div class="collapse" id="collapseComment${i}">
                        <div class="card card-body">

                        </div>
                    </div>
                    <div class="collapse" id="collapseExample${i}">
                        <div class="card card-body">

                        </div>
                    </div>`

                    $("#pastPost").html(text);
                })
            }

        }) // ajax end

    })// finish tab end

    function submitProdouct(eler,index) {

        var test = getCookie('LoginAccount');
        if (test == null) {
            alert("必須要登入才能查看留言喔");
            window.location.href = `/Members/Login`;
        }
        var form = $(`#Commentform${ i }`)
        var data = new FormData(form);

            $.ajax({
                url: "/RequiredPost/commemtProductPost",
                type: "Post",
                data: data,
                processData: false,
                contentType:false,
                success: function (response) {
                    window.alert(response)
                    window.location.reload("/RequiredPost/requiredPostIndex")

                }
            })
     }//end  of submit product

    function tag() {
            var txt = ""
            $.ajax({
                url: "/RequiredPost/getAllTag",
                type: "GET",
                success: function (response) {
                    $(response).each(function (i, item) {
                       // txt += <a>itrm.tagid </a>
                        txt += `<option value=${item.TagID}>${item.tagName}</option>`
                        $("h6>select").html(txt)
                    })
                }
            })

    }// end tag function


    function getCookie(cookieName) {
            var name = cookieName + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";

    }

    function checkCommentList(eler,index) {

      
        var data = $(eler).attr("name");
        var inner = "";
       

        $.ajax({
            url: "/RequiredPost/checkAllComment",
            type: "Post",
            data: { 'data': data },
            success: function (response) {
                $(response).each(function (i, item) {
                    inner += `
                         <div class="row mx-auto" style="border-bottom: 3px dashed gray;" id="start">

                          <div class="photo">  <img src="../Content/resource_nico/images/${item.productImg}"/> </div>
                          <div class="post-text">
                                <div class="d-flex justify-content-between">
                                    <h3 id="postName${i}">${item.productName}</h3>
                                    <h6>${item.county}  <span>${item.district}</span></h6>
                                     </div>
                                <h6 id="userName${i}">賣家:${item.userAccount}</h6>
                                <div>
                                <h6 id="text${i}">產品敘述:${item.productDescription}</h6>
                            </div>
                            <div class="post-button">
                                <h6 id="price${i}">價位：${item.price}</h6>

                                <a class="btn btn-secondary" href="#">加入購物車</a>

                         </div>
                        </div>

                    `})
                $(`#collapseComment${index}>div`).html(inner);
                $(`#cmCount${index}`).html(`${response.length}`)
            }
        })
    } // end check comment function

    function sendRequiredPost() {

        var test = getCookie('LoginAccount');
        if (test == null) {
            alert("必須要登入才能留言喔");
            window.location.href = `/Members/Login`;
        }

        var form = document.querySelector("#form1")
        var data = new FormData(form);
        data.append("county", $(".county").val());
        data.append("district", $(".district").val());


        $.ajax({
            url: "/RequiredPost/sendRequiredPost",
            type: "Post",
            data: data,
            processData: false,
            contentType: false,
            success: function (response) {
                window.alert(response)
                window.location.reload("/RequiredPost/requiredPostIndex")

            }
        })

    }// end send required post

    function getEditPost(eler, id) {
        var text = "";
        $.ajax({
            url: "/RequiredPost/getRequireDetail",
            type: "GET",
            odID: id,
            success: function (response) {
                text = `
                    <form id="${id}" class="formframe mx-auto" enctype="multipart/form-data">
                            <div class="displayimg">
                                <div class="photo"><img id="productimg" src="../content/resource_nico/images/徵求台post/${response.postimg}"></div>
                                <input type="file" required name="upphoto" id="postimg" style="display: block;" onchange="previewfile()">
                            </div>
                            <div class="displayinput">
                                <h6>貼文名稱:<input type="text" required name="postname" id="postname" value="${response.postname}"></h6>
                                <h6>
                                    貼文描述:<textarea id="postdescription" name="postdescription" placeholder="使用程度、幾成新" class="w-75" required onclick="tag()" value="${response.postdescription}"></textarea>
                                </h6>


                                <div>
                                    <h6>交貨方式</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="transationtype" id="flexradiodefault1" value="express" checked>
                                        <label class="form-check-label" for="flexradiodefault1">
                                            物流交貨
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="transationtype" id="flexradiodefault2" value="ptop">
                                        <label class="form-check-label" for="flexradiodefault2">
                                            當面交貨/地點
                                        </label>
                                    </div>
                                    <div class="my-selector-b" disabled></div>
                                </div>


                                <h6>價格:<input type="text" required name="estimateprice" id="estimateprice" value="${response.estimateprice}"></h6>
                                <h6>數量:<input type="text" required name="require0dqty" id="requiredqty" value="${response.requiredqty}"></h6>
                                <h6>
                                    標籤:
                                    <select id="tagselectioninpost" required class="form-control" name="tagid">
                                        <option>choose...</option>
                                    </select>
                                </h6>
                                ====userid======
                                ====posttime====

                            </div>

                        </form>

                    </div>
                    


                  `;
                $('#editPOST').html(text);
            }
        })


    }
</script>