
@{
    ViewBag.Title = "requiredPostIndex";
}
<head>
    <link href="~/Content/resource_nico/requriedIndex.css" rel="stylesheet" />
    <link href="~/Content/resource_nico/createProductPost.css" rel="stylesheet" />
    <script src="~/Content/resource_nico/tw-city-selector.min.js"></script> 
      
</head>


<div class="container" style="padding-top:100px">
    <div class="container" style=" padding-bottom: 40px; border-radius: 20px; ">
        <div class="row">
            <ul class="nav nav-pills mb-3 requriedTab w-100" style="justify-content:space-between" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#allPost" role="tab"
                       aria-controls="pills-home" aria-selected="true">所有徵求貼文</a>

                </li>
                <li >
                    <a class="btn  btn-secondary" data-toggle='modal' data-target='#bulid'> 我要徵求</a>
                </li>
             
            </ul>
        </div>

        <div class="modal fade" id="bulid" tabindex="-1" role="dialog" aria-labelledby="editMemberTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editMemberTitle"> 徵求貼文</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="editMemberbody">
                        <form id="form1"class="formFrame mx-auto" enctype="multipart/form-data">
                            <div class="displayImg">
                                <div class="photo"><img id="Productimg"></div>
                                    <input type="file" required name="upphoto" id="productImg" style="display: block" ; onchange="previewFile()">
                                </div>
                            <div class="displayInput">
                                <h6>貼文名稱:<input type="text" required name="postName" id="postName"></h6>
                                <h6>
                                    貼文描述:<textarea id="postDescription" name="postDescription" placeholder="使用程度、幾成新" class="w-75" required onclick="tag()"></textarea>
                                </h6>
                                <div>
                                    <h6>交貨方式</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="transationType"  value="express" id="express">
                                        <label class="form-check-label" for="express">
                                            物流交貨
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="transationType"  value="pTop" id="pTop" checked>
                                        <label class="form-check-label" for="pTop">
                                            當面交貨/地點
                                        </label>
                                    </div>
                                    <div class="my-selector-b"></div>
                                </div>



                                <h6>價格:<input type="text" required name="estimatePrice" id="estimatePrice"></h6>
                                <h6>數量:<input type="text" required name="require0dQTY" id="requiredQTY"></h6>
                                <h6>
                                    標籤:
                                    <select id="tagSelectioninPost" required class="form-control" name="TagID">
                                        <option>Choose...</option>
                                    </select>
                                </h6>
                                @*====userID======
                                    ====posttime====*@

                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="sendRequiredPost()">新增貼文</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="showPostArea tab-content " id="pills-tabContent">

            <div class="tab-pane fade show active" id="allPost" role="tabpanel" aria-labelledby="pills-home-tab">
              
            </div>
         
        </div>

        
    </div>

    
</div>



<script>
    $(function () {


        new TwCitySelector({
            el: ".my-selector-b",
            elCounty: ".county", 
            elDistrict: ".district"
        });


        $.ajax({
            url: "/RequiredPost/allrequiredPost",
            type: "GET",
            success: function (response) {

                $(response).each(function (i, item) {


                    $("#allPost").append(`
                             <div class="row mx-auto" style="border-bottom: 3px dashed gray;" id="start">
                            <div class="photo">
                                <img src="../Content/resource_nico/images/徵求台POST/${item.postImg}" />
                            </div>
                            <div class="post-text">
                                <div class="d-flex justify-content-between">
                                    <h3 id="postName${i}">${item.postName}</h3>
                                    <h6>${item.county} <span>${item.district}</span></h6>
                                </div>
                                <h6 id="userName${i}">買家:${item.userAccount}</h6>
                                <div>
                                    <h6 id="text${i}">產品敘述:${item.postDescription}</h6>
                                </div>
                                <div class="post-button">
                                    <h6 id="price${i}">大概徵求價位：${item.estimatePrice}</h6>
                                    <a data-toggle="collapse" href="#collapseComment${i}" role="button" aria-expanded="false"
                                        aria-controls="collapseExample" name="${item.RequiredPostID}"
                                        onclick="checkCommentList(this,'${i}')">查看留言(<span id="cmCount${i}">0</span>)</a>
                                    <div>
                                        <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample${i}" role="button"
                                            aria-expanded="false" aria-controls="collapseExample">我要留言</a>
                                    </div>
                                </div>

                            </div>

                            <div class="collapse w-100 comment" id="collapseComment${i}">
                                <div class="card card-body w-100 comment">

                                </div>
                            </div>

                            <div class="collapse w-100" id="collapseExample${i}">
                                <div class="card card-body w-100" }>
                                    <form class="formFrame mx-auto Commentform${i}" enctype="multipart/form-data">
                                        <div class="displayImg Productimg${i}">
                                            <div class="photo"><img id="Productimg${i}"></div>
                                            <input type="file" onChange="doUpload(this,'${i}')" name="upphoto" id="productImg${i}"
                                                style="display: block;">
                                        </div>
                                        <div class="displayInput">
                                            <h6>產品名稱:<input type="text" name="productName" id="productName${i}"></h6>
                                            <h6>
                                                產品描述:<textarea id="productDescription${i}" name="productDescription" placeholder="使用程度、幾成新"
                                                    class="w-75" onclick="tag()"></textarea>
                                            </h6>
                                            <div>
                                                <h6>交貨方式</h6>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="transationType" value="express${i}"
                                                        id="express${i}" checked>
                                                    <label class="form-check-label" for="express${i}">
                                                        物流交貨
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="transationType"
                                                        onchange="changeDis(${i})" id="pTop${i}" value="pTop${i}">
                                                    <label class="form-check-label" for="pTop${i}">
                                                        當面交貨/地點
                                                    </label>
                                                </div>
                                                <div id="city${i}"></div>
                                            </div>


                                            <h6>價格:<input type="text" name="price" id="price${i}"></h6>
                                            <h6>數量:<input type="text" name="inStoreQTY" id="inStoreQTY${i}"></h6>
                                            <h6>標籤:
                                                <select id="tagselection${i}" class="form-control" name="TagID">
                                                    <option>Choose...</option>
                                                </select>
                                            </h6>

                                            <!-- createtime -->
                                            <input type="hidden" name="createdTime">
                                            <!-- userID -->
                                            <input type="hidden" name="RequiredPostID" value="${item.RequiredPostID}">
                                            <!-- requiredPostID -->
                                            <div style="display: flex; justify-content:flex-end;">

                                            </div>
                                        </div>

                                    </form>
                                    <button type="submit" class="btn btn-secondary" onclick="submitProdouct(this,${i})">建立商品留言</button>
                                </div>
                            </div> @*end of 訂單*@
                            </div)
                    `)

                    checkSpan(item.RequiredPostID,i);

                })
            }
        })
        // ajax end
    })//documentReady

    $('input[type=radio]').change(function () {
        if (this.value == 'pTop') {
            $(".county").attr('disabled', false);
            $(".district").attr('disabled', false);
        }
        else {
            $(".county").attr('disabled', true)
            $(".district").attr('disabled', true)
        }
    });



    function changeDis( index) {

        new TwCitySelector({
            el: ".my-selector-c",
            elCounty: ".county", // 在 el 裡查找 dom
            elDistrict: ".district", // 在 el 裡查找 dom
            elZipcode: ".zipcode" // 在 el 裡查找 dom
        });

        $(`#city${index}`).addClass("my-selector-c");
        $(`#city${index}`).html(`
            <div>
                <select class="county"></select>
            </div>
            <div>
                <select class="district"></select>
            </div>`);
            
    }



    function checkSpan(id ,i ) {

        $.ajax({
            url: "/RequiredPost/checkCommentSPan",
            type: "GET",
            data: { 'i': id },
            success: function (response) {
                $(`#cmCount${i}`).html(`${response}`)
            }
        })
    }

        function getCookie(cookieName) {
            var name = cookieName + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";

        }

     function previewFile() {
            //var photo = $(eler).val();
         const preview = document.querySelector('#Productimg');
         const file = document.querySelector('input[type=file]').files[0];
         const reader = new FileReader();

         reader.addEventListener("load", function () {
             // convert image file to base64 string
             preview.src = reader.result;
         }, false);

         if (file) {
             reader.readAsDataURL(file);
         }
        } //  doUpload end

    function doUpload(elem, index) {

        const preview = document.querySelector(`#Productimg${index}`);
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }



    }

    function submitProdouct(eler, index) {
        console.log(index)

        var test = getCookie('LoginAccount');
        if (test == "") {
            window.alert("必須要登入才能留言喔");
            return window.location.href = `/Members/Login`;
        }

        var form = document.querySelector(`.Commentform${index}`)
        console.log(form)
        var data = new FormData(form);
            $.ajax({
                url: "/RequiredPost/commemtProductPost",
                type: "Post",
                data: data,
                processData: false,
                contentType:false,
                success: function (response) {
                    window.alert(response)
                    window.location.reload("/RequiredPost/requiredPostIndex")

                }
            })
        }//end  of submit product


    function tag() {
        var txt = ""
        $.ajax({
            url: "/RequiredPost/getAllTag",
            type: "GET",
            success: function (response) {
                $(response).each(function (i, item) {
                    // txt += <a>itrm.tagid </a>
                    txt += `<option value=${item.TagID}>${item.tagName}</option>`
                    $("h6>select").html(txt)
                })
            }
        })

    }// end tag function
    function checkCommentList(eler,index) {


        var test = getCookie('LoginAccount');
        console.log(test)
        console.log(typeof test)

        if (test == "") {
            window.alert("必須要登入才能留言喔");
            return window.location.href = `/Members/Login`;
        }

        var data = $(eler).attr("name");
        var inner = "";

        $.ajax({
            url: "/RequiredPost/checkAllComment",
            type: "Post",
            data: { 'data': data },
            success: function (response) {
                $(response).each(function (i, item) {
                    inner += `
                         <div class="row mx-auto" style="border-bottom: 3px dashed gray;" id="start">

                          <div class="photo">  <img src=../Content/ProductPostImg/${item.productImg}> </div>
                          <div class="post-text">
                                <div class="d-flex justify-content-between">
                                    <h3 id="postName${i}">${item.productName}</h3>
                                    <h6>${item.county}  <span>${item.district}</span></h6>
                                     </div>
                                <h6 id="userName${i}">賣家:${item.userAccount}</h6>
                                <div>
                                <h6 id="text${i}">產品敘述:${item.productDescription}</h6>
                            </div>
                            <div class="post-button">
                                <h6 id="price${i}">價位：${item.price}</h6>
                                <a class="btn btn-secondary" href="#">加入購物車</a>
                         </div>
                        </div>
                    
                    `})
                $(`#collapseComment${index}>div`).html(inner);
                $(`#cmCount${index}`).html(`${response.length}`)
            }
        })
    } // end check comment function

    function sendRequiredPost() {

        var test = getCookie('LoginAccount');
        console.log(test);

        if (test == null) {
            alert("必須要登入才能發文喔");
            return window.location.href = `/Members/Login`;
        }

        var form = document.querySelector("#form1")
        var data = new FormData(form);
        data.append("county", $(".county").val());
        data.append("district", $(".district").val());



        $.ajax({
            url: "/RequiredPost/sendRequiredPost",
            type: "Post",
            data: data,
            processData: false,
            contentType: false,
            success: function (response) {
                window.alert(response)
                window.location.reload("/RequiredPost/requiredPostIndex")

            }
        })

    }// end send required post


</script>