
@{
    ViewBag.Title = "salesOrderIndex";
}


<head>
    <link href="~/Content/resource_nico/OrderManager.css" rel="stylesheet" />
</head>

<div class="container" style="padding-top:100px">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-confirm-tab" data-toggle="tab" href="#nav-confirm" role="tab" aria-controls="nav-confirm" aria-selected="true">待確認訂單</a>
            <a class="nav-item nav-link" id="nav-process-tab" data-toggle="tab" href="#nav-process" role="tab" aria-controls="nav-process" aria-selected="false">待出貨訂單</a>
            <a class="nav-item nav-link" id="nav-processed-tab" data-toggle="tab" href="#nav-processed" role="tab" aria-controls="nav-processed" aria-selected="false">出貨中訂單</a>
            <a class="nav-item nav-link" id="nav-past-tab" data-toggle="tab" href="#nav-past" role="tab" aria-controls="nav-past" aria-selected="false">完成訂單</a>
        </div>
    </nav>


    @*================================以上導覽列============================================*@
<div class="tab-content" id="nav-tabContent">

    @*================================以下待確認列表============================================*@

    <div class="tab-pane fade show active" id="nav-confirm" role="tabpanel" aria-labelledby="nav-confirm-tab">
        @*div tab*@

        <table class="table table-striped table-hover">

            <thead>
                <tr>
                    <th scope="col">訂單編號</th>
                    <th scope="col">建立時間</th>
                    <th scope="col">商品</th>
                    <th scope="col">商品名稱</th>
                    <th scope="col">商品數量</th>
                    <th scope="col">買家名稱</th>
                    <th scope="col">總價</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>



    </div>



    @*========================================待付款訂單END=======================================*@

    @*========================================處理中訂單START=======================================*@
    <div class="tab-pane fade" id="nav-process" role="tabpanel" aria-labelledby="nav-process-tab">

        <table class="table table-striped table-hover">

            <thead>
                <tr>
                    <th scope="col">訂單編號</th>
                    <th scope="col">建立時間</th>
                    <th scope="col">商品</th>
                    <th scope="col">商品名稱</th>
                    <th scope="col">商品數量</th>
                    <th scope="col">買家名稱</th>
                    <th scope="col">總價</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tProcessbody">
            </tbody>
        </table>


    </div>







    @*========================================處理中訂單end=======================================*@



    @*========================================出或中訂單START=======================================*@
    <div class="tab-pane fade" id="nav-processed" role="tabpanel" aria-labelledby="nav-processed-tab">

        <table class="table table-striped table-hover">

            <thead>
                <tr>
                    <th scope="col">訂單編號</th>
                    <th scope="col">建立時間</th>
                    <th scope="col">商品</th>
                    <th scope="col">商品名稱</th>
                    <th scope="col">商品數量</th>
                    <th scope="col">買家名稱</th>
                    <th scope="col">總價</th>
                    <th scope="col">賣家狀態</th>
                </tr>
            </thead>
            <tbody id="tProcessedbody">
            </tbody>
        </table>


    </div>







    @*========================================出貨中訂單end=======================================*@



    @*========================================歷史訂單START=======================================*@
<div class="tab-pane fade" id="nav-past" role="tabpanel" aria-labelledby="nav-past-tab">



    <table class="table table-striped table-hover">

        <thead>
            <tr>
                <th scope="col">訂單編號</th>
                <th scope="col">建立時間</th>
                <th scope="col">商品</th>
                <th scope="col">商品名稱</th>
                <th scope="col">商品數量</th>
                <th scope="col">買家名稱</th>
                <th scope="col">總價</th>
                <th scope="col">賣家狀態</th>
            </tr>
        </thead>
        <tbody id="tPastbody">
        </tbody>
    </table>



</div>

</div>



    @*=======================================訂單end=======================================*@
</div> @*//END OF ORDER LIST*@



@*=====================================詳細訂單彈跳視窗start==========================================*@
<div class="modal fade" id="showOrder" tabindex="-1" role="dialog" aria-labelledby="showOrderTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="modal-title" id="showOrderTitle"></h5>
                    <h6 class="my-auto" id="showOrderTime"></h6>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="showOrderbody">
                <table class="table table1">
                    <tbody id="receiptbody">
                    </tbody>
                </table>

            </div>

            <div class="w-100 d-flex justify-content-end">
                <h5 class="mr-5">總金額:</h5>
                <h4 class="mx-5" id="momey"></h4>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="checkout()">結帳</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消訂單</button>
            </div>
        </div>
    </div>
</div>
@*=====================================詳細訂單彈跳視窗end==========================================*@

<script>

    function getCookie(cookieName) {
        var name = cookieName + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";

    } // end of getCookie

    var test = getCookie('LoginID');

    $(function () {

        if (test == "") {
            return window.location.href = `/Members/Login`;
        }

        $.ajax({
            url: "/OrderManager/getComfirmOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";
                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();

                 

                    text += `
                    <tr>
                    <td>${item.orderID}</td>
                    <td>${year} - ${month} - ${date}</td>
                    <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                    <td>${item.productName}</td>
                    <td>${item.QTY}</td>
                    <td>${item.buyerUserAccount}</td>
                    <td ">${item.oneProductTotalPrice}</td>
                    <td><a class= "btn btn-outline-dark" onclick="comfirmOrder('${item.orderDetailId}')"> 確認訂單</td>
                    </tr>`

                })
                $('#tbody').html(text)

            }
        })

        // ==================Processed order ajax==================

        $.ajax({
            url: "/OrderManager/getSalesProcessedOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";
               
                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();


                    text += `
                    <tr name='${item.orderDetailId}'>
                    <td>${item.orderID}</td>
                    <td>${year} - ${month} - ${date}</td>
                    <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                    <td>${item.productName}</td>
                    <td>${item.QTY}</td>
                    <td>${item.buyerUserAccount}</td>
                    <td ">${item.oneProductTotalPrice}</td>
                    <td>等待賣家取貨</td>
                  
                    </tr>`

                })

                    $('#tProcessedbody').html(text)

            
            }
        })


        $.ajax({
            url: "/OrderManager/getSalesProcessOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";

                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();


                    text += `
                    <tr>
                    <td>${item.orderID}</td>
                    <td>${year} - ${month} - ${date}</td>
                    <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                    <td>${item.productName}</td>
                    <td>${item.QTY}</td>
                    <td>${item.buyerUserAccount}</td>
                    <td ">${item.oneProductTotalPrice}</td>
                    <td><a class= "btn btn-outline-dark" onclick="sentOrder(${item.orderDetailId})"> 出貨</td>
                    </tr>`

                })

                $('#tProcessbody').html(text)


            }
        })

  
        $.ajax({
            url: "/OrderManager/getSalesPastOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";
                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();


                    text += `
                    <tr name='${item.orderDetailId}'>
                    <td>${item.orderID}</td>
                    <td>${year} - ${month} - ${date}</td>
                    <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                    <td>${item.productName}</td>
                    <td>${item.QTY}</td>
                    <td>${item.buyerUserAccount}</td>
                    <td ">${item.oneProductTotalPrice}</td>
                    <td><a class= "btn btn-outline-dark" >評論</td>
                    </tr>`

                })
                $('#tPastbody').html(text)
            }
        })

    }) // end of doucument ready

   
    function comfirmOrder(orderid) {

     
        $.ajax({
            url: "/OrderManager/confirmOrder",
            type: "GET",
            data: { 'oderdeail': orderid },
            success: function (response) {
                swal('成功', response, 'success');

                window.location.reload();

            },
            error: function (response) {

                window.alert(response);
                window.location.reload();
            }
        });

    }


    function sentOrder(orderid) {
        $.ajax({
            url: "/OrderManager/sentOrder",
            type: "GET",
            data: { 'oderdeail': orderid },
            success: function (response) {
                swal('成功', response, 'success');

                window.location.reload();

            },
            error: function (response) {

                swal('GG', response, 'error');

                window.location.reload();
            }
        });


    }
    </script>