
@{
    ViewBag.Title = "backstageIndex";
}

<h2>backstageIndex</h2>

<div id="demo"></div>

<script>
    
    $.ajax({
        url: "@Url.Action("getMemberList_P", "backstage")",
        type: "GET",
        success: function (memberList) {
            console.log(memberList);
        }
    })
</script>