
@{
    ViewBag.Title = "MaimaiIndex";
}

<div style="height:50px" ></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="row mb-3 ml-1"  id="tag">
                
            </div>
            <!-- 商品廣告 -->
            <div class="bodr5 d-flex">
                <div class="d-flex theWidth">
                    <div class="col-md-12">
                        <div class="carousel slide multi-item-carousel " id="theCarousel">
                            <div class="carousel-inner ">
                                <div class="item active d-flex  " id="PopularProduct">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="prevSlide" class="slide_btn">
                    <i class="fa fa-caret-left" style="background-color:#ffffff99"></i>
                </div>
                <div id="nextSlide" class="slide_btn">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div> <br>
            <div class="bodr5 overflow-hidden">商品廣告</div><br>
            <div class="bodr5" onclick="toRequiredPostView()">徵求布告欄</div><br>
        </div>
        <div class="bodr5 col-4">
            直播
            <div class="bodr5 mx-auto mb-4 mt-3"></div>
            <div class="bodr5 mx-auto mb-4"></div>
            <div class="bodr5 mx-auto mb-0"></div>
        </div>
    </div>
</div>

<script>
    function tagonclick(TagID) {
        window.location.href = `/MaimaiIndex/tagsearch?TagID=${TagID}`;
    }
    function toRequiredPostView() {
        window.location.href = `/RequiredPost/requiredPostIndex`;
    }
    $(function () {       
        $.ajax({
            url: "/MaimaiIndex/TagResult",
            type: "GET",
            success: function (response) {                
                $(response).each(function (i, item) {
                    $("#tag").append(
                        `<div class="tag ml-2">                        
                    <p><a class="btn" onclick="tagonclick(${item.TagID})" >${item.tagName}</a></p></div>`
                    )
                })
            }
        })            
        //< img src = "${item.productImg}" >  
        $.ajax({
            url: "/MaimaiIndex/ProductPost",
            type: "GET",
            success: function (Productpost) {
                $(".theWidth").css("width", Productpost.length * 700);
                $(Productpost).each(function (i, item) {
                    $("#PopularProduct").append(`
                            <div class="Carouseladvertising">
                               <div class="photho all123">
                                 <div>
                                     <h4>
                                         ${item.productDescription}
                                      </h4>
                                     <p>
                                           金額 : $ ${item.price}
                                     </p>
                                    </div>
                               </div>
                          </div>
                    `)
                })
                liftCar();
            }
        })        
    })

    function liftCar() {
        let slideNum = 1;
        let slideCount = $(".Carouseladvertising").length;
        let lastIndex = slideCount - 1;
        let slidemove ;
        function show() {
             slidemove = 0 - 350 * slideNum;
            $(".theWidth").css("left", slidemove);
        }
        $("#prevSlide").click(function () {
            slideNum--;
            if (slideNum < 0) slideNum = lastIndex;
            show();
            console.log(slideCount);
            console.log(slidemove);
        })
        $("#nextSlide").click(function () {
            slideNum++;
            if (slideNum > lastIndex) slideNum = 0;
            show();
        })
    }
</script>