
@{
    ViewBag.Title = "MaimaiIndexNew";
}


<body>
    @*首頁圖片 css內*@
    <section class="home">
    </section>
    @*首頁圖片*@
    <div class="container-fluid paddding mb-5">
        <div class="d-flex mx-0">
            <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
                <div class="fh5co_suceefh5co_height">
                    <img src="images/nick-karvounis-78711.jpg" alt="img" />
                    <div class="fh5co_suceefh5co_height_position_absolute"></div>
                    @*文字*@
                    <div class="fh5co_suceefh5co_height_position_absolute_font">
                        <div class="">
                            <a href="#" class="color_fff">
                                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Dec
                                31,2017
                            </a>
                        </div>
                        <div class="">
                            <a href="single.html" class="fh5co_good_font">
                                After all is said and done, more is
                                said than done
                            </a>
                        </div>
                    </div>
                    @*文字*@
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">
                            <img src="images/science-578x362.jpg" alt="img" />
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class="">
                                    <a href="#" class="color_fff">
                                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                        28,2017
                                    </a>
                                </div>
                                <div class="">
                                    <a href="single.html" class="fh5co_good_font_2">
                                        After all is said and
                                        done, <br>more is said than done
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">
                            <img src="images/joe-gardner-75333.jpg" alt="img" />
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class="">
                                    <a href="#" class="color_fff">
                                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct 28,2017
                                    </a>
                                </div>
                                <div class="">
                                    <a href="single.html" class="fh5co_good_font_2">
                                        After all is said and
                                        done...
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">
                            <img src="images/ryan-moreno-98837.jpg" alt="img" />
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class="">
                                    <a href="#" class="color_fff">
                                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                        28,2017
                                    </a>
                                </div>
                                <div class="">
                                    <a href="single.html" class="fh5co_good_font_2">
                                        After all is said and
                                        done, more is said than done
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">
                            <img src="images/10-1-1-875x500.jpg" alt="img" />
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class="">
                                    <a href="#" class="color_fff">
                                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                        28,2017
                                    </a>
                                </div>
                                <div class="">
                                    <a href="single.html" class="fh5co_good_font_2">
                                        After all is said and
                                        done, more is said...
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row ">
        <div class="col-md-12 ">
            <div class="carousel slide multi-item-carousel active " id="theCarousel" style="background: #333; color: #ddd;">
                <div class="carousel-inner  d-md-flex theWidth " id="addCarousel">
                    <!--  Example item start -->
                    @*<div class="item mx-md-2 Carouseladvertising">
                        <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?perth,australia" class="img-responsive"></a></div>
                    </div>
                    <div class="item mx-md-2 Carouseladvertising">
                        <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?fremantle,australia" class="img-responsive"></a></div>
                    </div>
                    <div class="item mx-md-2 ">
                        <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?west-australia" class="img-responsive"></a></div>
                    </div>
                    <div class="item mx-md-2 ">
                        <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?perth" class="img-responsive"></a></div>
                    </div>
                    <div class="item mx-md-2 ">
                        <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?quokka,perth" class="img-responsive"></a></div>
                    </div>
                    <div class="item mx-md-2 ">
                        <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?margaretriver,australia" class="img-responsive"></a></div>
                    </div>
                    <div class="item mx-md-2 ">
                        <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?perth,australia&r=7" 
                        class="img-responsive"></a></div>
                    </div>*@
                    <!--  Example item end -->

                </div>
                <div id="prevSlide" class="slide_btn">
                    <i class="fa fa-caret-left"></i>
                </div>
                <div id="nextSlide" class="slide_btn">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $.ajax({
                url: "/NewMaimaiIndex/addCarousel",
                type: "GET",
                success: function (addCarousel) {
                    //$(".theWidth").css("width", Carouseladvertising.length * 250);
                    $(addCarousel).each(function (i, item) {
                        $("#addCarousel").append(`
                        <div class="item mx-md-2 Carouseladvertising">
                                <div class="col-xs-4">
                                    <a href="#1">
                                        <img src="../Content/ProductPostImg/${item.productImg}"
                                            class="img-responsive">
                                       </a>
                                </div>
                        </div>
                    `)
                    })
                }
            })
        })
    </script>

    @*輪播*@
    <script>
        let slideNum = 0;
        let slideCount = $(".Carouseladvertising").length;
        let lastIndex = slideCount - 1;
        let slidemove;
        function show() {
            slidemove = 0 - 500 * slideNum;
            $(".theWidth").css("left", slidemove);
        }
        $("#prevSlide").click(function () {
            slideNum--;
            if (slideNum < 0) slideNum = lastIndex;
            show();
            console.log(slideNum);
            console.log(slideCount);
            console.log(lastIndex);
            console.log(slidemove);
        })
        $("#nextSlide").click(function () {
            slideNum++;
            if (slideNum > lastIndex) slideNum = 0;
            show();
        })
    </script>
    @*輪播*@
    </body>

