.navbarcontainer > .row > .logo  .logo {
    height: 48px;
    width: 48px;
}
 .top3svg> .logo {
    height: 24px;
    width: 24px;
}
.btn-outline-dark{border-color:#f8f9fa00;border-radius: 35px;font-weight: bold;}
.dropdown-menu >.svg > .logo {
    height: 24px;
    width: 24px;
    margin-top: 1rem;
}

.navbarcontainer > .row > #Ajax-search {
    height: 45px;
    width: 1100px;
    border-radius: 35px;
}

.mylogo{border-radius:50%;border:1px solid black; max-width:50px;height:auto;}
.row>.col-8 .bodr5
{border: 1px solid black;border-radius: 5px; margin: 0;width: 700px;height: 250px;}
.row>.col-8>.row>.tag
{border: 1px solid black;border-radius: 5px; margin: 0;width: 140px;height: 35px;text-align: center;background-color: skyblue;}
.row>.bodr5
{border: 1px solid black;border-radius: 5px; margin: 0;width: 300px;height: 900px;}
.row>.bodr5>.bodr5
{border: 1px solid black;border-radius: 5px; margin: 0;width: 300px;height: 250px;}

.Carouseladvertising{width: 300px;height: 250px;}
.Carouseladvertising>.photho{border: 1px solid black;border-radius: 3px;width: 300px;height: 170px;}
.Carouseladvertising>.photho img{width: 100%;height: 100%;background-size: cover;}
.footerLogo{width: 35%;height: 35%;}

.btnhome {
    height: 45px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #000000;
}
.classhoverin {
    background-color: #F0F0F0;    
}
.btnhome > a {
text-decoration: none;
color: #000000;
}

.classclick {
    background-color: #000000;
    color: white;
    height: 45px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.tagsearch123img {
    width: 200px;
    height: 312px;
    border-radius: 15px;
    border:1px solid #000000
}
tagsearch123img > a {
    text-decoration: none;
    color: #000000;
}


.sixsideline {
    position: relative;
    width: 100px;
    height: 0;
    border-width: 0 71px 71px;
    border-style: solid;
    border-color: transparent transparent #f69;
}

    .sixsideline:before {
        position: absolute;
        content: "";
        top: 171px;
        left: -71px;
        width: 100px;
        height: 0;
        border-width: 71px 71px 0;
        border-style: solid;
        border-color: #f69 transparent transparent;
    }

    .sixsideline:after {
        position: absolute;
        content: "";
        top: 71px;
        left: -71px;
        width: 242px;
        height: 0;
        border-width: 0 0 100px;
        background: none;
        border-style: solid;
        border-color: transparent transparent #f69;
    }


.BellsMenu {
    position: absolute;
    left: 0;
    top: 42px;
    background: rgba(255,255,255,.8);
    width: 120px;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}
.BellsMenuAc > .BellsMenuAc {
    opacity: 1;
    max-height: 300px;
}
.BellsMenuAc {
    transform: rotate(-45deg) translate(-9px,7px);
}
